{% extends "layout.html" %}
{% block title %}
INTERFACE
{% endblock %}
{% block content %}
<p>Welcome to your drivers' interface. Submit your driver ID below to recieve an updated route.</p>
<input type="text" id="dr" placeholder="Driver ID number">
<input type="submit" value="Submit" onclick="giveNum()">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    function giveNum() {

        const drivnum = document.getElementById("dr").value;
        
        const dict_values = {drivnum}; // variables to a dictionary in javascript
        const s = JSON.stringify(dict_values); //converts javascript object or value to JSON
        console.log(s); // prints the variables to console wndow in JSON format

        $.ajax({
            url:"/test",
            type:"POST",
            contentType:"application/json",
            data: JSON.stringify(s)});
        

    };
</script>

<p></p>

<iframe id="routemap" width=80% height=1000px frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade"
src="" allowfullscreen></iframe>
<p>
    
</p>
<input type="submit" value="Update Map" onclick="upMap()">



<script>


    // var url=ReturnURL();
    // var urlPath='http://localhost/POSkill/skillshow.aspx?user_id='+url;
    // document.write('<iframe id="routemap" src=""+ urlPath ></iframe>');

    function upMap() {
    var new_map_URL = "https://www.google.com/maps/embed/v1/directions?key=" + "{{MAPS_KEY}}" + "&origin=" + "{{origin}}" + "&waypoints=" + "{{waypoints}}" + "&destination=" + "{{destination}}" + "&zoom=14";
    // 
    document.getElementById("routemap").src = new_map_URL; // keep for other browsers
    // document.getElementById("routemap").contentWindow.src = newMapURL;
    
};

</script>

<p> </p>


<p>Last update: {{ moment().format('MMMM Do YYYY, h:mm:ss a') }}.</p>
{% endblock %}